@model Employee_Managment.Models.Employee

@{
    ViewData["Title"] = "Редагувати співробітника";
}

<h2>Редагувати співробітника</h2>

<form method="post" asp-controller="employees" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Прізвище та ім'я</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department" class="control-label"></label>
        <input type="text" id="Department" name="Department" class="form-control" value="@Model.Department" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Position" class="control-label"></label>
        <input type="text" id="Position" name="Position" class="form-control" value="@Model.Position" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth?.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
