@model IEnumerable<Employee_Managment.Models.Employee>

@{
    ViewData["Title"] = "Персонал";
}

<h2>Список співробітників</h2>

<table class="table">
    <thead>
        <tr>
            <th>Прізвище та ім'я</th>
            <th>Відділ</th>
            <th>Посада</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
                <td>@employee.Position</td>
                <td>@employee.Email</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-pen-to-square fa-lg"></i>
                            Редагувати
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="employees" asp-action="edit" asp-route-id="@employee.Id">
                                <i class="fa-solid fa-address-card fa-lg"></i>
                                Персональні дані
                            </a>
                            <a class="dropdown-item" asp-controller="credentials" asp-action="edit" asp-route-id="@employee.Id">
                                <i class="fa-solid fa-key fa-lg"></i>
                                Облікові дані
                            </a>
                            <a class="dropdown-item" asp-controller="statistics" asp-action="edit" asp-route-id="@employee.Id">
                                <i class="fa-solid fa-chart-simple fa-lg"></i>
                                Статистика
                            </a>
                            <a class="dropdown-item" asp-controller="vacation" asp-action="index" asp-route-employeeId="@employee.Id">
                                <i class="fa-solid fa-umbrella-beach fa-lg"></i>
                                Відпуски
                            </a>
                            <a class="dropdown-item" asp-controller="penalties" asp-action="index" asp-route-employeeId="@employee.Id">
                                <i class="fa-solid fa-bullhorn fa-lg"></i>
                                Штрафи
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <a class="btn text-decoration-none btn-danger" role="button" asp-controller="employees" asp-action="delete" asp-route-employeeid="@employee.Id" onclick="return confirmDelete()">
                        <i class="fa-solid fa-trash fa-lg"></i>
                        Видалити
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Додати</a>

<script>
    function confirmDelete() {
        return confirm("Ви впевнені, що хочете видалити цього співробітника?");
    }
</script>