@model IEnumerable<Employee_Managment.Models.Employee>

@{
    ViewData["Title"] = "Employee Index";
}

<h2>Employee List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Position</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
                <td>@employee.Position</td>
                <td>@employee.Email</td>
                <td>
                    <a class="btn btn-link text-decoration-none" asp-controller="employees" asp-action="edit" asp-route-id="@employee.Id">
                        Edit Data
                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                    </a>
                    |
                    <a class="btn btn-link text-decoration-none" asp-controller="credentials" asp-action="edit" asp-route-id="@employee.Id">
                        Edit credentials
                        <i class="fa-solid fa-key fa-lg"></i>
                    </a>
                    |
                    <a class="btn btn-link text-decoration-none" asp-controller="statistics" asp-action="edit" asp-route-id="@employee.Id">
                        Edit Stats
                        <i class="fa-solid fa-chart-simple fa-lg"></i>
                    </a>
                    |
                    <a class="btn btn-link text-decoration-none" asp-controller="vacation" asp-action="index" asp-route-employeeId="@employee.Id">
                        Vacation
                        <i class="fa-solid fa-umbrella-beach fa-lg"></i> 
                    </a>
                    |
                    <a class="btn btn-link text-decoration-none" asp-controller="employees" asp-action="delete" asp-route-employeeid="@employee.Id" onclick="return confirmDelete()">
                        Delete
                        <i class="fa-solid fa-trash fa-lg"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Add New Employee</a>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this employee?");
    }
</script>