@model Employee_Managment.Models.EmployeeStatisticsViewModel
@{
    ViewBag.Title = "Панель статистики";
    var employeeStats = Model.EmployeeStatistics;
    var averageStats = Model.AverageStatistics;
    var departmentSalaryStats = Model.DepartmentSalaryStatistics;
}

<div class="container">
    <h1 class="d-flex justify-content-center mb-3">Статистика</h1>
    <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
            <h4 class="d-flex justify-content-center">Загальна інформація</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Параметр</th>
                        <th>Працівник</th>
                        <th>Середнє значення</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Зарплата</td>
                        <td>@employeeStats.Salary</td>
                        <td>@averageStats.Salary</td>
                    </tr>
                    <tr>
                        <td>QA</td>
                        <td>@employeeStats.QA</td>
                        <td>@averageStats.QA</td>
                    </tr>
                    <tr>
                        <td>Бонуси</td>
                        <td>@employeeStats.Bonus</td>
                        <td>@averageStats.Bonus</td>
                    </tr>
                    <tr>
                        <td>Кількість відпрацьованих годин</td>
                        <td>@employeeStats.HoursWorked</td>
                        <td>@averageStats.HoursWorked</td>
                    </tr>

                    <tr>
                        <td>Кількість виконаних завдань</td>
                        <td>@employeeStats.CompletedTasks</td>
                        <td>@averageStats.CompletedTasks</td>
                    </tr>
                    <tr>
                        <td>Середній час виконання завдання</td>
                        <td>@employeeStats.AverageTaskCompletionTime</td>
                        <td>@averageStats.AverageTaskCompletionTime</td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto mt-3 gy-5 col-md-6">
                <h4 class="d-flex justify-content-center">Зарплата по відділам</h4>
            <canvas id="chartDepartmentSalary" width="400" height="200"></canvas></div>
        </div>
        
        
        <div class="col-md-6 mx-auto row">
            <h4 class="d-flex justify-content-center">QA</h4>
            <canvas id="chartQA" width="200" height="100"></canvas>
            <h4 class="d-flex justify-content-center">Завдання</h4>
            <canvas id="chartTasks" width="400" height="200"></canvas>

            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var chartQAData = {
            labels: ["QA"],
            datasets: [{
                label: 'Працівник',
                data: [@employeeStats.QA],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Середнє значення',
                data: [@averageStats.QA],
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            }]
        };

        var chartTasksData = {
            labels: ["Виконані завдання", "Середній час виконання"],
            datasets: [{
                label: 'Працівник',
                data: [
                    @employeeStats.CompletedTasks,
                    @employeeStats.AverageTaskCompletionTime
                ],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Середнє значення',
                data: [
                    @averageStats.CompletedTasks,
                    @averageStats.AverageTaskCompletionTime
                ],
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            }]
        };

        var departmentSalaryData = {
            labels: @Html.Raw(Json.Serialize(departmentSalaryStats.Keys)),
            datasets: [{
                label: 'Зарплата по відділам',
                data: @Html.Raw(Json.Serialize(departmentSalaryStats.Values)),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };

        new Chart(document.getElementById('chartQA'), {
            type: 'bar',
            data: chartQAData
        });

        new Chart(document.getElementById('chartTasks'), {
            type: 'bar',
            data: chartTasksData
        });

        new Chart(document.getElementById('chartDepartmentSalary'), {
            type: 'doughnut',
            data: departmentSalaryData
        });
    });
</script>
