@model Employee
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userClaims = HttpContextAccessor.HttpContext!.User.Claims;
    var employeeIdClaim = userClaims.FirstOrDefault(c => c.Type == "EmployeeId");
    var employeeId = employeeIdClaim?.Value;
}
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>User Profile</h2>
        </div>
        <div class="card-body">
            <div class="row m-lg-0">
                
                <div class="col-md-4">
                    <img src="~/avatars/@(string.IsNullOrEmpty(@Model.AvatarFileName) ? "default.png" : @Model.AvatarFileName)" class="img-fluid" alt="User Avatar">
                    <form asp-action="UploadAvatar" method="post" asp-controller="profile" asp-route-id="@employeeId" enctype="multipart/form-data">
                        <div class="form-group mt-3">
                            <label for="avatar">Upload Avatar</label>
                            <input type="file" class="form-control-file" id="avatar" name="avatar">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Upload</button>
                    </form>
                </div>
                
                <div class="col-md-8 ml-0">
                    <h3>@Model.Name</h3>
                    <p><strong>Department:</strong> @Model.Department</p>
                    <p><strong>Position:</strong> @Model.Position</p>
                    <p><strong>Date of Birth:</strong> @Model.DateOfBirth?.ToString("MMMM dd, yyyy")</p>
                    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
                    <p><strong>Email:</strong> @Model.Email</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .img-fluid {
        max-width: 60%;
        height: auto;
    }

    .rounded-circle {
        border-radius: 50%;
    }
</style>
