@model Employee_Managment.Models.Vacation
@{
    ViewBag.Title = "Видалити відпуску";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Ви впевнені, що хочете видалити цю відпустку?</h4>
    <div>
        <h5>@Model.Description</h5>
        <p>
            <strong>Початок:</strong> @Model.StartDate.ToShortDateString()<br />
            <strong>Кінець:</strong> @Model.EndDate.ToShortDateString()
        </p>
    </div>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Видалити</button>
        <a asp-action="Index" asp-route-employeeId="@Model.EmployeeId" class="btn btn-secondary">Назад</a>
    </form>
</div>