@model IEnumerable<Employee_Managment.Models.Vacation>
@{
    ViewBag.Title = "Відпуски";
    var employee = ViewBag.Employee as Employee_Managment.Models.Employee;
}
@if(User.IsInRole("Admin"))
{
<h2>@employee!.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>Початок</th>
            <th>Кінець</th>
            <th>Опис</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacation in Model)
        {
            <tr>
                <td>@vacation.StartDate.ToShortDateString()</td>
                <td>@vacation.EndDate.ToShortDateString()</td>
                <td>@vacation.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@vacation.Id" class="btn btn-warning">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@vacation.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <a asp-action="Create" asp-route-employeeId="@employee.Id" class="btn btn-primary">Додати</a>
    <a asp-action="Index" asp-controller="Employees" class="btn btn-secondary">Назад</a>
}
@if(User.IsInRole("Employee"))
{

    <h2>@employee!.Name</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Початок</th>
                <th>Кінець</th>
                <th>Опис</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vacation in Model)
            {
                <tr>
                    <td>@vacation.StartDate.ToShortDateString()</td>
                    <td>@vacation.EndDate.ToShortDateString()</td>
                    <td>@vacation.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
