@model Employee_Managment.Models.Penalty
@{
    ViewBag.Title = "Видалити штраф";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Ви впевнені, що хочете видалити цей штраф?</h4>
    <div>
        <h5>@Model.Reason</h5>
        <p>
            <strong>Дата:</strong> @Model.Date.GetValueOrDefault()<br />
            <strong>Сума:</strong> @Model.Amount
        </p>
    </div>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Видалити</button>
        <a asp-action="Index" asp-route-employeeId="@Model.EmployeeId" class="btn btn-secondary">Назад</a>
    </form>
</div>
