@model IEnumerable<Employee_Managment.Models.Penalty>
@{
    ViewBag.Title = "Штрафи";
    var employee = ViewBag.Employee as Employee_Managment.Models.Employee;
}

@if (User.IsInRole("Admin"))
{
    <h2>@employee!.Name</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Причина</th>
                <th>Сума</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var penalty in Model)
            {
                <tr>
                    <td>@penalty.Date.ToShortDateString()</td>
                    <td>@penalty.Reason</td>
                    <td>@penalty.Amount</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@penalty.Id" class="btn btn-warning">Редагувати</a>
                        <a asp-action="Delete" asp-route-id="@penalty.Id" class="btn btn-danger">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create" asp-route-employeeId="@employee.Id" class="btn btn-primary">Додати</a>
    <a asp-controller="employees" asp-action="Index" class="btn btn-secondary">Назад</a>
}

@if (User.IsInRole("Employee"))
{
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Причина</th>
                    <th>Сума</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var penalty in Model)
                {
                    <tr>
                        <td>@penalty.Date.ToShortDateString()</td>
                        <td>@penalty.Reason</td>
                        <td>@penalty.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>Штрафів немає</h1>
    }
}